.App {
  text-align: center;
  width: auto;
}

:root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  --base: rgb(243, 246, 198);
  --primary: rgb(255, 233, 212);
  --secondary: rgb(203, 220, 195);

  --third: rgb(179, 201, 55);
  --fourth: rgb(103, 142, 53);
  --fifth: rgb(98, 155, 90);

  --sixth: rgb(133, 140, 0);
  --seventh: rgb(228, 149, 46);
  --eighth: rgb(210, 83, 64);

  --ninth: rgb(30, 78, 43);
  --tenth: rgb(111, 17, 35);

  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
}

.content-container {
  width: 660px;
  margin-left: 25px;
  margin-top: 25px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--primary);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.head {
  color: white;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 30px;
}

.footer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-left: 20px;
  height: 30px;
  color: var(--base);
  position: fixed;
  bottom: 0;
  right: 10;
}

.custom-shape-divider-bottom-1700002330 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1700002330 svg {
  position: relative;
  display: block;
  width: calc(101% + 1.3px);
  height: 88px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1700002330 .shape-fill {
  fill: var(--ninth);
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
  .custom-shape-divider-bottom-1700002330 svg {
    width: calc(152% + 1.3px);
    height: 73px;
  }
}