.base {
    --base: rgb(243, 246, 198);
    --primary: rgb(255, 233, 212);
    --secondary: rgb(203, 220, 195);

    --third: rgb(179, 201, 55);
    --fourth: rgb(103, 142, 53);
    --fifth: rgb(98, 155, 90);

    --sixth: rgb(130, 137, 0);
    --seventh: rgb(228, 149, 46);
    --eighth: rgb(210, 83, 64);

    --ninth: rgb(30, 78, 43);
    --tenth: rgb(111, 17, 35);
}

/* .flip-in-hor-top {
    display: flex;
    -webkit-animation: flip-in-hor-top .5s linear both;
    animation: flip-in-hor-top .5s linear both;
} */
.itemI,
.itemF,
.itemP {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 36px;
    border-radius: 20px;
    margin-right: 40px;
    transition: 0.3s;
}

.itemI {
    background-color: white;
    color: var(--sixth);
    border: 3px solid var(--sixth);
}

.itemF {
    background-color: white;
    color: var(--seventh);
    border: 3px solid var(--seventh);
}

.itemP {
    background-color: white;
    color: var(--eighth);
    border: 3px solid var(--eighth);
}

a:link,
a:visited {
    text-decoration: none;
    color: black;
}


li:hover,
a:hover {
    cursor: pointer;
    text-decoration-line: none;
}

li:active {
    animation: shadow-drop-center 1ms ease forwards;
}

.itemI:active {

    box-shadow: 0 0 5px var(--sixth);
}

.itemF:active {
    box-shadow: 0 0 5px var(--seventh);
}

.itemP:active {
    box-shadow: 0 0 5px var(--eighth);
}

.itemI a.active {
    background-color: var(--sixth);
    color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 36px;
}

.itemF a.active {
    background-color: var(--seventh);
    color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 36px;
}

.itemP a.active {
    background-color: var(--eighth);
    color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 36px;
}

/*  button animation */
@keyframes shadow-drop-center {
    0% {
        -webkit-box-shadow: 0 0 0 0 transparent;
        box-shadow: 0 0 0 0 transparent;
    }

    100% {
        -webkit-box-shadow: 0 0 5px 0 black;
        box-shadow: 0 0 5px 0 black;
    }
}