:root {
  display: flex;
  flex-direction: row;
  align-items: center;
  --base: rgb(243, 246, 198);
  --primary: rgb(255, 233, 212);
  --secondary: rgb(203, 220, 195);

  --third: rgb(179, 201, 55);
  --fourth: rgb(103, 142, 53);
  --fifth: rgb(98, 155, 90);

  --sixth: rgb(130, 137, 0);
  --seventh: rgb(228, 149, 46);
  --eighth: rgb(210, 83, 64);

  --ninth: rgb(30, 78, 43);
  --tenth: rgb(111, 17, 35);
}

.ingrButton {
  width: 60px;
  height: auto;
  border-radius: 20px;
  background-color: var(--sixth);
  border: none;
  font-size: medium;
  color: white;
  transition: 0.3s;
}

.planButton {
  width: 120px;
  height: 30px;
  border-radius: 20px;
  background-color: var(--eighth);
  border: none;
  font-size: medium;
  color: white;
  transition: 0.3s;
}

.ingrFoodButton {
  width: 120px;
  height: 30px;
  border-radius: 20px;
  background-color: var(--seventh);
  border: none;
  font-size: medium;
  color: white;
  transition: 0.3s;
  margin-top: 20px;
}

.gridContainer {
  height: 40vh;
  text-align: left;
  overflow: hidden;
}

.ingredientControls {
  margin: 10px;
}

.ingrDeleteButton {
  width: 60px;
  height: 30px;
  line-height: normal;
  border-radius: 20px;
  background-color: var(--third);
  border: none;
  font-size: medium;
  color: black;
  transition: 0.3s;
}

.ag-theme-alpine {}

.button-container {
  display: flex;
  justify-content: center;

}

.foodButton {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: flex-start;
  width: calc(100% - 20px);
  box-sizing: border-box;
  width: 140px;
  height: 30px;
  border-radius: 20px;
  background-color: var(--seventh);
  font-size: medium;
  border: none;
  color: white;
  transition: 0.3s;
  margin-bottom: 20px;
}

:active {
  box-shadow: none;
}

.ag-header-row-column {}


@keyframes shadow-drop-center {
  0% {
    -webkit-box-shadow: 0 0 0 0 transparent;
    box-shadow: 0 0 0 0 transparent;
  }

  100% {
    -webkit-box-shadow: 0 0 5px 0 black;
    box-shadow: 0 0 5px 0 black;
  }
}

button:active {
  animation: shadow-drop-center 1ms ease forwards;
}

/* Добавление анимации для закрытия модального окна */
@keyframes scale-out-center {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(0);
  }
}

.scale-out-center {
  animation: scale-out-center 0.3s ease-in-out;
}

.input-with-error {}

.form-containerAddPlan {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "days prot marg"
    "fat fat fat"
    "carb carb carb"
    "ccal ccal ccal";
  justify-items: center;
  gap: 20px;
  margin-left: 10px;
  margin-bottom: 30px;
}

.days {
  display: flex;
  grid-area: days;
}

.prot {
  display: flex;
  grid-area: prot;
}

.marg {
  display: flex;
  grid-area: marg;
}

.fat {
  display: flex;
  grid-area: fat;
  justify-content: space-around;
}

.carb {
  display: flex;
  grid-area: carb;
  justify-content: space-around;
}

.ccal {
  display: flex;
  grid-area: ccal;
  justify-content: space-around;
}

.button {
  margin-top: 10px;
}



.formAddFood {
  display: grid;
  line-height: normal;
}

.day {
  padding: 8px;
  border: 1px solid #ccc;
  border-right: 1px solid white;
  ;
  text-align: center;
}

input:invalid:required {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid var(--eighth);
  background-color: var(--primary);
}

.form-containerAddFood {
  display: grid;
  grid-template-columns: 3fr 2fr 4fr;
  grid-template-rows: 90px;
  justify-items: flex-start;
  gap: 20px;
  margin-left: 10px;
  margin-top: 30px;
}

.form-group,
.input-with-error {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}


.recipe-group {}

.full-width {
  width: calc(100% - 20px);
  box-sizing: border-box;
  margin-bottom: 10px;
}

.recipe-group {
  width: 100%;
  box-sizing: border-box;
  margin-top: 30px;
}

.plan {
  margin-left: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
  margin-top: 20px;
  /* border-radius: 20px; */

}

table th,
table td {
  padding: 8px;
  /* border: 1px solid #ccc; */
  text-align: left;
}

.day {
  padding: 8px;
  text-align: center;
}

table td.day {
  font-weight: bold;

}

.tdName {
  font-size: 22px;
  background-color: var(--third);
  border: none;
  border-radius: 20px;
}


tr.tdProtein {}

tr.tdFat {}

tr.tdCarbs {}

tr.tdCcal {}

.slide-in-fwd-center-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.slide-in-fwd-center-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: all 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.tableBody {}

.tableBody td:first-child {
  width: 70%;
  text-align: left;
}

.tableBody td:last-child {
  width: 30%;
}